// set custom hex colors 
$siteBgColorCustom: #e3e3da;
$sidebarBgColorCustom: #dbdbd2;
$textColorCustom: #666260;
$sidebarTextColorCustom: #666260;
$headlineColorCustom: #103742;
$headingColorCustom: #103742;
$bodyLinkColorCustom: #881cbb;
$navLinkColorCustom: #881cbb;
$sidebarLinkColorCustom: #881cbb;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #1cbbaf;
$buttonHoverBgColorCustom: #881cbb;
$borderColorCustom: #c4beb9;
